<main role="main" class="container">
  <div ng-controller="inputQueryController">
    <div class="system-name">
      <p class="display-4" align="center"> {{ pageTitle }} </p>
    </div>

    <div class="input-group">
      <input (change)="getResults()" [(ngModel)]="query" type="text" class="form-control"
             placeholder="Căutarea ta începe de aici ..." aria-label="Căutarea ta începe de aici ..." aria-describedby="basic-addon2">
      <button type="submit" (click)='getResults()' class="btn btn-success"> {{ submit }}</button>
    </div>

    <p>{{results.content}}</p>
  </div>
</main>




